{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/postings/index.css' %}">
{% endblock %}

{% block body %}
  <h1>메인 페이지</h1>

  <p>웹 페이지의 주요 기능을 소개합니다!</p>
  <ol>
    <li>가입해서 글과 댓글을 작성할 수 있어요.</li>
    <li>그리고 간단한 웹 게임을 즐길 수 있어요.</li>
  </ol>

  <div class="posting__profile">
    <img class="posting__profile__img" src="{% static 'images/rabbit.png' %}" alt="rabbit">
    <div class="posting__profile__info">
      <div class="posting__profile__info__text">😊 Name: 김규리</div>
      <div class="posting__profile__info__text">📧 Email: samicoding@gmail.com</div>
      <div class="posting__profile__info__text">🐈‍⬛ Github: <a href="https://github.com/SamiCoding" target="_blank">깃허브 방문하기</a></div>
    </div>
  </div>

{% endblock %}