.posting__list__text {
  margin: 5px 0;
}

.posting__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: 50px auto 0;
  border: 2px solid MediumTurquoise;
  border-radius: 5px;
  background-color: PaleTurquoise;
}

.posting__profile__img {
  width: 30%;
  margin: 10px;
  border: 5px solid pink;
  border-radius: 15px;
}

.posting__profile__info {
  margin-left: 10px;
}

.posting__profile__info__text {
  margin: 10px 0;
}

@media (max-width: 767px), (max-height: 412px) {
  .posting__profile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
  }

  .posting__profile__img {
    min-width: 50px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .posting__profile__info {
    margin-left: 15px;
  }
}